<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZSSxOCD7lviq8nc_Y-a8cXnaVY_r9qlk</string>
	<key>GCM_SENDER_ID</key>
	<string>104663708735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cadpia.mypos</string>
	<key>PROJECT_ID</key>
	<string>mypos-4cfcc</string>
	<key>STORAGE_BUCKET</key>
	<string>mypos-4cfcc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104663708735:ios:4e7162be29826d4713b48a</string>
</dict>
</plist>